streamlit  
pandas  
numpy  
matplotlib  
plotly  
requests  
openpyxl  # For reading/writing .xlsx files  
xlrd  # For reading .xls files  
xlsxwriter  # For exporting to Excel  
gspread  # Google Sheets API  
google-auth  # Authentication for Google APIs  
google-auth-oauthlib  
google-auth-httplib2  
google-api-python-client  
PyDrive  # Google Drive API  
oauth2client  # OAuth authentication for Google APIs  
pydrive  
google-colab  
pandas==0.25.3
numpy==1.18.5
openpyxl==2.6.4
xlrd==1.2.0
re
